.body{
    -fx-background-image: url(background.png);
    -fx-background-size: cover;
    -fx-background-color: #351942;
}

.headerText{
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.passageText{
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
}

.button{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 50px;
    -fx-background-color: #33E0A1;
}

.button:hover{
    -fx-background-color: #2bba86;
}

.button:pressed:hover {
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
    -fx-border-color: #ffffff;
}