.logo{

    -fx-background-image: url("logo.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-style: solid;
    -fx-border-radius: 50%;
    -fx-border-color:   #387550;
}
.body{
    -fx-background-color: #6ad693;
}